html {
  body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOhXKBGWu0Nbl87cPHFFN52BCR79SmdQC9Jw&s");
    background-size: cover;
    background-color: rebeccapurple;
    margin-left: 30px;
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 150%;
  }

  #feetInput{
    width:40px;
  }
  #inchesInput{
    width:40px;
  }
  #weightInput{
    width:40px;
  }

  

  h1 {
    color: white;
    text-align: center;
    
  }
  #Header{
    display: flex;
    justify-content: center;
  }
  #Display{
    display: flex;
    justify-content: center;
      box-sizing: border-box;
    border: 5px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: white;
      height: 75px;
    width: 500px;
    border-color: black;
      font-size: xxx-large;
    background-color: yellowgreen;
  }
  #Weight {
    margin-bottom: 5px;
  }
  #Height {
    margin-bottom: 5px;
  }
  #bmi {
    margin-bottom: 5px;
  }

  
}